* {
    box-sizing: border-box;
    vertical-align: top;
}

.score {
    background-color: white;
    text-align: center;
}

.wrapper {
    width: 100%;
    background-color: black;
    padding: 10px 20px;
}

.row {
    width: 110%;
}

.navbar {
    width: 100%;
}

.green {
    color: green;
}

.red {
    color: red;
}

.overflow {
    overflow: auto;
}